h1{
border-width: 1px;
border-color: #3d3a3a;
border-style: solid;
padding: 20px;
margin-top: 50px;
margin-bottom: 50px;
margin-left: 50px;
margin-right: 50px;
color: #383737;
font-family: sans-serif;
}

h1:hover{
    color: #000;
}

img{
    border: 0px solid #000;

}
body{
    color: rgb(41, 39, 39);
    font-family: sans-serif;
    background-color: #e7f2ff;
    margin: 0;
}

.work-item img{
    width: 100%;
    cursor: pointer;
    transition: transform 0.3s;
}

.work-item img:hover{
    transform: scale(1.05);
}


.container{
    width: 80%;
    margin: 50px auto;
}

.photo img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}


.photo{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.name{
    text-align: center;
}

.top{
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 60px;
    height: 60px;
    background-color: #3d3a3a;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.top a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}


.work-item{
    flex-shrink: 0;
    flex-basis: 33.3333%;
    padding: 1px;
    border: 1px solid #ebebeb;
    padding: 0px;
    box-sizing: border-box;
    line-height: 0;
}

.work-item img{
    max-width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
}

.works{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.work-item{
    position: relative;
    overflow: hidden;
}

.work-item img{
    width: 100%;
    display: block;
    transition: transform 0.3s;
}

.work-item .overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    opacity: 0;
    transition: opacity 0.3s;
}

.work-item:hover .overlay{
    opacity: 1;
}

.work-item:hover img{
    transform: scale(1.05);
}
